body{
  background-color: hsl(252, 30%, 95%);
}

.grid {
  display: flex;
  width: 75%;
  margin: 5rem auto ;
  
}

.left-column {
  flex: 1;
  padding: 15px;
}

.right-column { 
  padding-top: 15px;
  width: auto;
}
