.modern-form {
  width: 75%;
  margin: 7rem auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
  margin-bottom: 1.5rem;
  width: 100%;
}

.submit-btn {
  background-color: #ff8906 !important; 
  color: #fff;
  border: none;
  &:hover {
    background-color: #b36004;
  }
}

.cancel-btn {
  background-color: #a7a9be !important; 
  color: #fff;
  border: none;
  &:hover {
    background-color: #b36004;
  }
}